.chart-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  .chart-visualisation {
    width: 500px;
    height: 400px;
  }

  .toggle-buttons {
    display: flex;
    justify-content: center;
  }

  .chart-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .interval-form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
